<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- LIDAR -->

    <joint name="lidar_joint" type="fixed">
        <parent link="chassis_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.2 0 0.1395"/>
    </joint>

    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.035" length="0.025"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

</robot>